/* Reset các giá trị mặc định của trình duyệt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Các quy tắc cho phần header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Các quy tắc cho phần sản phẩm */
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .product {
    width: 30%;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
  }
  
  .product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .product p {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .buy-btn:hover {
    background-color: #555;
  }
  /* Các quy tắc cho phần footer */
  footer {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    text-align: center;
  }
  